@media screen {
  .countryDetailBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    height: 100vh;
    /*background: linear-gradient(0deg, #00000088 30%,#ffffff44 100%, transparent); */
    background-image: url("../../img/WhatsApp\ Image\ 2021-11-29\ at\ 21.44.13\ \(1\).jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .countryDetailTitleBox {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 98%;
    height: 10%;
  }

  .countryDetailTitleBox a {
    display: flex;
    flex-shrink: 0;
    width: 15%;
  }
  .countryDetailTitleBox h1 {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    width: 70%;
    color: blanchedalmond;
  }

  .flagData {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    flex-shrink: 0;
    width: 98%;
    height: 45%;
  }
  .imgFlagDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 50%;
    height: 90%;
  }

  .imgFlag {
    display: flex;

    flex-shrink: 0;
    width: 65%;
    height: 80%;
  }

  .data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
    width: 50%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    margin: 1% 0 5% 0;
    color: blanchedalmond;
  }

  .contryDetailActivities {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 98%;
    height: 45%;
  }
}
