.pageNav {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 10%;
}
.pageNav button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.pageNav button:hover {
  background-color: steelblue;
}

.pageNav button:focus,
button:active {
  background-color: red;
}
