.cardBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    flex-shrink: 0;
    width: 30%;
    height: 24%;
}

.imgFlagBox{
    display: flex;
    border: 1px solid black;
    flex-shrink: 0;
    width: 40%;
    height: 55%;
}

.imgFlag{
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.dataContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
     width: 57%;
     height: 100%; 
}

.dataContent label{
    font-size: 15px;
}

.cardInfo{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    height: 65%;
}

.cardInfo label{
    font-size: 15px;
}