@media screen {
  .contentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    background: linear-gradient(0deg, #00000088 30%,#ffffff44 100%, transparent); 
  }

  .activityTitleBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    width: 98%;
    height: 10%;
  }

  .activityTitleBox a {
    display: flex;
    flex-shrink: 0;
    width: 10%;
  }

  .activityTitleBox h1 {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    width: 80%;
  }

  .activityData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    width: 98%;
    height: 90%;
  }

  .activityInputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    height: 50%;
  }

  .activityForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-shrink: 0;
    width: 70%;
  }

  .activityInputs section {
    display: flex;
    flex-shrink: 0;
    width: 30%;
  }

  .activityFormNameDur {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-shrink: 0;
    height: 50%;
  }

  .activityDifficulty {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-shrink: 0;
    height: 80%;
  }

  .activitySeason {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-shrink: 0;
    height: 80%;
  }

  .activityFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    height: 50%;
    width: 100%;
  }
  .errorsListBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    width: 40%;
  }

  .errorsList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    height: 80%;
  }

  .errorsListBtn button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 20%;
    height: 20%;
  }

  .countriesToAdd {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 55%;
    height: 100%;
  }

  .activityCountryList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
   justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
    width: 60%;
    height: 90%;
  }

  .countriesActivityList {
    display: flex;

    flex-shrink: 0;
  }
}
