/* .cardsBox {
    display: flex;
    flex-direction: row;
     align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 0.25%;
    border-width: thin ;
    margin: 0.25%;
    align-content: stretch;
    align-items: stretch;
  } */

.cardsBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 0;
  width: 100%;
  height: 90%;
}
